.botao {
	border: 2px solid #000;
	color: #000;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s
}

.botao:hover {
	border-color: #64f044;
	color: #64f044
}

.botao:focus {
	border-color: #d1f153;
	color: #d1f153
}

.pequeno {
	padding: 7px;
	font-size: 18px;
	font-size: 1.125rem
}

.medio {
	padding: 9px;
	font-size: 20px;
	font-size: 1.25rem
}

.grande {
	padding: 11px;
	font-size: 22px;
	font-size: 1.375rem
}

section.sobre .itens {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;
	margin: 50px 0;
	text-align: center
}

@media (max-width:991px) {
	section.sobre .itens {
		display: block
	}

}

section.sobre .itens .foto {
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	-moz-order: 3;
	-ms-flex-order: 3;
	order: 3
}

@media (max-width:991px) {
	section.sobre .itens .foto {
		margin: 0 0 30px
	}

}

section.sobre .itens [class^="icone-"] {
	width: 90px;
	height: 90px;
	background-color: #9ee268;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	-ms-border-radius: 120px;
	border-radius: 120px;
	text-align: center;
	line-height: 85px;
	color: #fff;
	font-size: 60px;
	font-size: 3.75rem
}

@media (max-width:991px) {
	section.sobre .itens [class^="icone-"] {
		display: inline-block;
		width: 70px;
		height: 70px;
		line-height: 70px;
		font-size: 55px;
		font-size: 3.4375rem;
		margin: 0 3px
	}

}

@media (max-width:540px) {
	section.sobre .itens [class^="icone-"] {
		display: inline-block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 30px;
		font-size: 1.563rem;
		margin: 0 2px 30px
	}

	section.sobre .itens {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center;
		-ms-flex-pack: distribute;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		justify-content: space-around;
		margin: 30px 0;
		text-align: center
	}

	.foto img {
		width: 100px;
		height: 100px;
		margin: 0 0px

	}


}

section.sobre .itens [class^="icone-"].icone-university {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-moz-order: 1;
	-ms-flex-order: 1;
	order: 1
}

section.sobre .itens [class^="icone-"].icone-line {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-moz-order: 2;
	-ms-flex-order: 2;
	order: 2
}

section.sobre .itens [class^="icone-"].icone-database {
	-webkit-box-ordinal-group: 5;
	-webkit-order: 4;
	-moz-order: 4;
	-ms-flex-order: 4;
	order: 4
}

section.sobre .itens [class^="icone-"].icone-codigo {
	-webkit-box-ordinal-group: 6;
	-webkit-order: 5;
	-moz-order: 5;
	-ms-flex-order: 5;
	order: 5
}

.textos {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center
}



@media (min-width:768px) {
	.textos {
		float: left;
		width: 75%
	}

}

@media (min-width:768px) {
	.textos {
		margin-left: 16.66667%
	}

}

.textos p {
	font-size: 30px;
	font-size: 1.875rem
}


@media (max-width:540px) {
	.textos {
		margin-left: 2.66667%;
		margin-top: -10%;
	}
	.textos p {
		font-size: 23px;
		font-size: 1.375rem;
	}

}

.services h2 {
    border-bottom: 2.5px #64f044 solid;
}

.services div h2 {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}

.row {
    margin: 0;

}
.row {
    margin-right: -15px;
    margin-left: -15px;
}


.services .icon {
    padding: 0;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 15px;
}

.services img {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 70px;
    margin: 70px auto auto auto;
    display: block;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.services a {
    color:  #048f12;
    font-weight: 500;
}

.services a:hover {
    color: #64f044;
    text-decoration: underline;
}

.services a {
    background-color: transparent;
}

.textos .botao {
	display: table;
	margin: 30px auto
}