.botao {
	border: 2px solid #000;
	color: #000;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s
}

.botao:hover {
	border-color: #64f044;
	color: #64f044
}

.botao:focus {
	border-color: #d1f153;
	color: #d1f153
}

.pequeno {
	padding: 7px;
	font-size: 18px;
	font-size: 1.125rem
}

.medio {
	padding: 9px;
	font-size: 20px;
	font-size: 1.25rem
}

.grande {
	padding: 11px;
	font-size: 22px;
	font-size: 1.375rem
}

.textos {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center
}

@media (min-width:768px) {
	.textos {
		float: left;
		width: 66.66667%
	}

}

@media (min-width:768px) {
	.textos {
		margin-left: 16.66667%
	}

}

.textos p {
	font-size: 30px;
	font-size: 1.875rem
}

.textos .botao {
	display: table;
	margin: 30px auto
}

.habilidades {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 40px
}

.habilidades:before, .habilidades:after {
	content: " ";
	display: table
}

.habilidades:after {
	clear: both
}

@media (min-width:768px) {
	.habilidades {
		float: left;
		width: 83.33333%
	}

}

@media (min-width:768px) {
	.habilidades {
		margin-left: 8.33333%
	}

}

.habilidades li {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}

@media (min-width:768px) {
	.habilidades li {
		float: left;
		width: 50%
	}

}

.habilidades li h2 {
	font-size: 28px;
	margin: 30px 0 10px
}

.habilidades li h2 i {
	font-size: 30px !important
}

.habilidades li h2 i.fa-html5 {
	color: orange
}

.habilidades li h2 i.fa-css3 {
	color: #31b1e7
}

.habilidades li h2 i.fae-java {
	color: #31b1e7
}

.habilidades li h2 i.fae-python {
	color: #31b1e7
}

.habilidades li h2 i.r img {
	width: 35px;
	height: 27px
}

.habilidades li h2 i.php img {
	width: 35px;
	height: 25px
}

.habilidades li h2 i.c img {
	width: 25px;
	height: 22px
}

.habilidades li.habilidade-0 .barra span {
	width: 0%
}

.habilidades li.habilidade-1 .barra span {
	width: 10%
}

.habilidades li.habilidade-2 .barra span {
	width: 20%
}

.habilidades li.habilidade-3 .barra span {
	width: 30%
}

.habilidades li.habilidade-4 .barra span {
	width: 40%
}

.habilidades li.habilidade-5 .barra span {
	width: 50%
}

.habilidades li.habilidade-6 .barra span {
	width: 60%
}

.habilidades li.habilidade-7 .barra span {
	width: 70%
}

.habilidades li.habilidade-8 .barra span {
	width: 80%
}

.habilidades li.habilidade-9 .barra span {
	width: 90%
}

.habilidades li.habilidade-10 .barra span {
	width: 100%
}

.habilidades .barra {
	background-color: #e1e1e1;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	-ms-border-radius: 120px;
	border-radius: 120px;
	display: block;
	width: 100%;
	height: 17px;
	margin: 10px 0
}

.habilidades .barra span {
	display: block;
	height: 100%;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	-ms-border-radius: 120px;
	border-radius: 120px;
	background-color: #d1f153;
	background-image: -webkit-gradient(linear, 90deg, from(#64f044), to(#d1f153));
	background-image: -webkit-linear-gradient(90deg, #64f044, #d1f153);
	background-image: -moz-linear-gradient(90deg, #64f044, #d1f153);
	background-image: -ms-linear-gradient(90deg, #64f044, #d1f153);
	background-image: -o-linear-gradient(90deg, #64f044, #d1f153);
	background-image: linear-gradient(90deg, #64f044, #d1f153);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle, StartColorStr='#64f044', EndColorStr='#d1f153')
}

header {
	min-height: 400px;
	margin: 0 0 25px;
	background-image: url("../imagens/slide_sobre.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #000
}

header h1 {
	margin-top: 115px !important
}

header p {
	text-transform: capitalize;
	margin-top: 65px;
	font-size: 30px;
	font-size: 1.875rem
}

.botao {
	display: table;
	margin: auto;
	clear: both
}